{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Hero Image & CTA -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">SALE NOW ON!</h1>
            <p class="lead">Get back to training with our latest deals.</p>
            <a class="btn btn-primary btn-lg rounded-0 text-uppercase py-3" href="{% url 'products' %}"
                role="button">Shop Now ></a>
        </div>
    </div>

    <!-- Shop By Category cards -->
    <div class="card-deck">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Shop Clothing</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Shop Footwear</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Shop Accessories</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}