<!-- Template adapted from Code Institute Boutique Ado mini project -->

{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white text-dark small">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout Complete</li>
    </ol>
</nav>
{% endblock %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Thank You For Your Order</h2>
            <hr>
            <p class="text-dark">
                Your order information is below. A confirmation will be sent to <strong>{{ order.email }}</strong>
            </p>
        </div>
    </div>

    <!-- Order Summary -->
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                        <small class="text-muted">
                            Order Info:
                        </small>
                    </div>
                </div>
                <hr>
                <!-- Order Number -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Order Number:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.order_number }}
                        </p>
                    </div>
                </div>
                <!-- Order Date -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Order Date:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.order_date }}
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Order Detail Lines -->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">
                            Order Details:
                        </small>
                    </div>
                </div>
                <hr>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            {{ item.product.name }}{% if item.priduct_size %} - Size
                            {{ item.product.size|upper }}{% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ item.quantity }} @ £{{ item.product.discount_price }} each
                        </p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <!-- Customer Details -->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">
                            Delivering To:
                        </small>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Name:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.first_name }} {{ order.last_name }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Telephone:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.telephone }}
                        </p>
                    </div>
                </div>

                <!-- Delivery Address -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Address Line 1:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.address_line1 }}
                        </p>
                    </div>
                </div>

                {% if order.address_line2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Address Line 2:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.address_line2 }}
                        </p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Town / City:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.town_or_city }}
                        </p>
                    </div>
                </div>

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            County:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.county }}
                        </p>
                    </div>
                </div>
                {% endif %}

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Postcode:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            {{ order.postcode }}
                        </p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Country:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>
                <hr>
                <!-- Billing Section -->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">
                            Billing Info:
                        </small>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Order Total:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            £{{ order.order_total }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Delivery:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            £{{ order.delivery_cost }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            Grand Total:
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">
                            £{{ order.grand_total }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mega Offers CTA & Back to Profile Buttons -->
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-outline-dark rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">
                    Back to Profile
                </span>
            </a>
            {% else %}
            <a href="{% url 'products' %}" class="btn btn-warning btn-mega-deals rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-gifts"></i>
                </span>
                <span class="text-uppercase">
                    Now check out our latest deals!
                </span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}