/* -------------------------------------Special Styling */



/* -------------------------------------HEADER SECTION */
/* -------------------------------------Navbar */



/* -------------------------------------TEMPLATE BODY STYLING */
/* -------------------------------------Common Site Styling Section */




/* -------------------------------------Toast Messages */
/* from CI Boutique Ado mini project */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
/* From CI Boutique Ado mini project */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* From CI Boutique Ado mini project */
.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------------Buttons */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-white {
    background-color: #fff;
    color: #000
}

/* From CI Boutique Ado mini project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* -------------------------------------Form Elements Section */
/* -------------------------------- Input Forms */
/* Remove the form number input field default up & down arrows */
/*https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Corrects the product qty input field size to the the +/- buttons */
.form-row .form-group .input-group input {
    max-width: 60px;
    border: 1px solid;
    height: 38.5px;
}

/* -------------------------------------Search Bar Section */



/* -------------------------------------FOOTER SECTION */




/* -------------------------------------Social Media & Sitemap links */




/* -------------------------------------Copyright */




/* -------------------------------------Media Queries */
/* -------------------------------------Responsive Design - TABLET */



/* -------------------------------------Responsive Design - MOBILE */