/* -------------------------------------Special Styling */



/* -------------------------------------HEADER SECTION */
/* -------------------------------------Navbar */



/* -------------------------------------TEMPLATE BODY STYLING */
/* -------------------------------------Common Site Styling Section */




/* -------------------------------------Flashed Messages */



/* -------------------------------------Buttons */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-white {
    background-color: #fff;
    color: #000
}


/* -------------------------------------Search Bar Section */



/* -------------------------------------FOOTER SECTION */




/* -------------------------------------Social Media & Sitemap links */




/* -------------------------------------Copyright */




/* -------------------------------------Media Queries */
/* -------------------------------------Responsive Design - TABLET */



/* -------------------------------------Responsive Design - MOBILE */