<!-- Code adapted from Code Institute Boutique Ado mini project -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Home nav link -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Products nav links -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">
                    By Price
                </a>
                <a href="{% url 'products' %}?sort=master_category&direction=asc" class="dropdown-item ">
                    By Main Category
                </a>
                <a href="{% url 'products' %}?sort=sub_category&direction=asc" class="dropdown-item ">
                    By Product Category
                </a>
                <a href="{% url 'products' %}?sort=article_type&direction=asc" class="dropdown-item ">
                    By Product Type
                </a>
                <a href="{% url 'products' %}" class="dropdown-item">
                    All Products
                </a>
            </div>
        </li>

        <!-- Menswear nav links -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?gender=men,unisex&master_category=footwear&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Footwear</strong></a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=footwear&sub_category=shoes&sort=article_type&direction=asc"
                    class="dropdown-item">Trainers & Shoes</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=footwear&sub_category=flip_flops"
                    class="dropdown-item">Flip-flops</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=footwear&sub_category=sandals"
                    class="dropdown-item">Sandals</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=apparel,topwear,bottomwear&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Clothing</strong></a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=apparel,topwear,bottomwear&sub_category=apparel_set"
                    class="dropdown-item">Apparel Set</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=apparel,topwear,bottomwear&sub_category=bottomwear&sort=article_type&direction=asc"
                    class="dropdown-item">Bottomwear</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=apparel,topwear,bottomwear&sub_category=topwear&sort=article_type&direction=asc"
                    class="dropdown-item">Topwear</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=apparel,topwear,bottomwear&sub_category=socks&sort=article_type&direction=asc"
                    class="dropdown-item">Socks</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=accessories&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Accessories</strong></a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=accessories&sub_category=accessories&sort=article_type&direction=asc"
                    class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=accessories&sub_category=bags&sort=article_type&direction=asc"
                    class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=accessories&sub_category=headwear&sort=article_type&direction=asc"
                    class="dropdown-item">Headwear</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=sporting_goods&sub_category=sports_equipment&sort=article_type&direction=asc"
                    class="dropdown-item">Sports Equipment</a>
                <a href="{% url 'products' %}?gender=men,unisex&master_category=accessories&sub_category=water_bottle"
                    class="dropdown-item">Water Bottles</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=men,unisex&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>All Menswear</strong></a>
            </div>
        </li>

        <!-- Womenswear nav links -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="womenswear-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?gender=women,unisex&master_category=footwear&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Footwear</strong></a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=footwear&sub_category=shoes&sort=article_type&direction=asc"
                    class="dropdown-item">Trainers & Shoes</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=footwear&sub_category=flip_flops"
                    class="dropdown-item">Flip-flops</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=footwear&sub_category=sandals"
                    class="dropdown-item">Sandals</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=apparel,topwear,bottomwear&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Clothing</strong></a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=apparel,topwear,bottomwear&sub_category=apparel_set"
                    class="dropdown-item">Apparel Set</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=apparel,topwear,bottomwear&sub_category=bottomwear&sort=article_type&direction=asc"
                    class="dropdown-item">Bottomwear</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=apparel,topwear,bottomwear&sub_category=topwear&sort=article_type&direction=asc"
                    class="dropdown-item">Topwear</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=apparel,topwear,bottomwear&sub_category=socks"
                    class="dropdown-item">Socks</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=accessories&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Accessories</strong></a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=accessories&sub_category=accessories&sort=article_type&direction=asc"
                    class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=accessories&sub_category=bags&sort=article_type&direction=asc"
                    class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=accessories&sub_category=headwear&sort=article_type&direction=asc"
                    class="dropdown-item">Headwear</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=sporting_goods&sub_category=sports_equipment&sort=article_type&direction=asc"
                    class="dropdown-item">Sports Equipment</a>
                <a href="{% url 'products' %}?gender=women,unisex&master_category=accessories&sub_category=water_bottle"
                    class="dropdown-item">Water Bottles</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=women,unisex&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>All
                        Womenswear</strong></a>
            </div>
        </li>

        <!-- Kidswear nav links -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="kidswear-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?gender=boys,girls&master_category=footwear&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Footwear</strong></a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=footwear&sub_category=shoes&sort=article_type&direction=asc"
                    class="dropdown-item">Trainers & Shoes</a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=footwear&sub_category=flip_flops"
                    class="dropdown-item">Flip-flops</a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=footwear&sub_category=sandals"
                    class="dropdown-item">Sandals</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=apparel,topwear,bottomwear&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Clothing</strong></a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=apparel,topwear,bottomwear&sub_category=apparel_set"
                    class="dropdown-item">Apparel Set</a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=apparel,topwear,bottomwear&sub_category=bottomwear&sort=article_type&direction=asc"
                    class="dropdown-item">Bottomwear</a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=apparel,topwear,bottomwear&sub_category=topwear&sort=article_type&direction=asc"
                    class="dropdown-item">Topwear</a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=apparel,topwear,bottomwear&sub_category=socks"
                    class="dropdown-item">Socks</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=accessories&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>Accessories</strong></a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=accessories&sub_category=accessories&sort=article_type&direction=asc"
                    class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?gender=boys,girls&master_category=accessories&sub_category=bags"
                    class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?gender=boys,girls,unisex&master_category=accessories&sub_category=headwear"
                    class="dropdown-item">Headwear</a>
                <a href="{% url 'products' %}?gender=boys,girls,unisex&master_category=sporting_goods&sub_category=sports_equipment&sort=article_type&direction=asc"
                    class="dropdown-item">Sports Equipment</a>
                <a href="{% url 'products' %}?gender=boys,girls,unisex&master_category=accessories&sub_category=water_bottle"
                    class="dropdown-item">Water Bottles</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?gender=boys,girls&sort=article_type&direction=asc"
                    class="dropdown-item"><strong>All Kidswear</strong></a>
            </div>
        </li>

        <!-- Mega Offers nav links -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-warning" href="#" id="specials-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mega Offers
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?special_offer=new_arrivals&sort=article_type&direction=asc"
                    class="dropdown-item">
                    New Arrivals
                </a>
                <a href="{% url 'products' %}?special_offer=deals&sort=article_type&direction=asc"
                    class="dropdown-item">
                    Deals
                </a>
                <a href="{% url 'products' %}?special_offer=clearance&sort=article_type&direction=asc"
                    class="dropdown-item">
                    Clearance
                </a>
                <a href="{% url 'products' %}?special_offer=new_arrivals,deals,clearance&sort=article_type&direction=asc"
                    class="dropdown-item">
                    All Specials
                </a>
            </div>
        </li>
    </ul>
</div>