{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mb-5">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Oops!</h2>
            <hr>
            <h3>
                503 - Service Unavailable
            </h3>
            <p>
                Well this is awkward.... :(
            </p>
            <p>
                Something has gone wrong at our end and we're working on it.<br>
                Please come back in a little while...
            </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">
                    Back to Products
                </span>
            </a>
        </div>
    </div>
</div>

{% endblock %}