{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mb-5">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Oops!</h2>
            <hr>
            <p>
                The page you are looking for might have been removed, had its name changed or is temporarily
                unavailable.
            </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-left">
            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">
                    Back to Products
                </span>
            </a>
        </div>
    </div>
</div>

{% endblock %}